* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

p {
    color: white;
}

body {

    display: grid;
    grid-template-areas: 
        'nav     nav     nav'
        'main    main    main'
        'main    main    main'
        'footer  footer  footer'
        ;    
}

nav {
    grid-area: nav;
    background-color: blue;
    height: 10vh;
}

main {
    grid-area: main;
    background-color: green;
    height: 80vh ;
}

footer {
    grid-area: footer;
    background-color: black;
    height: 10vh;
}